.menu {
  padding-top: 9vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: 1.5em;
    padding: 1em;
    padding-bottom: 0.5em;
  }
  .btn-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em;
    @media screen and (min-width: $width-tablet) {
      width: 70%;
    }
    @media screen and (min-width: $width-laptopL) {
      margin-top: 1em;
      margin-bottom: 1em;
      width: 80%;
    }
    .filter-btn {
      color: $leadingColor;
      font-size: 0.7em;
      font-weight: bold;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      padding: 0.5em;
      background: transparent;
      border-radius: 0.5em;
      border: 2px solid $leadingColor;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      transition: 0.5s ease-out;
      &:hover {
        background: $leadingColor;
        color: white;
      }
      @media screen and (min-width: $width-tablet) {
        font-size: 1em;
      }
      @media screen and (min-width: $width-laptop) {
        font-size: 1.5em;
      }
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
    @media screen and (min-width: $width-tablet) {
      font-size: 1.5em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 1.5em;
    }
    @media screen and (min-width: $width-laptopL) {
      grid-template-columns: repeat(3, 1fr);
    }

    .menu-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 1em;
      align-items: center;
      justify-content: center;
      @media screen and(min-width:$width-tablet) {
        height: 30em;
      }
      @media screen and(min-width:$width-laptop) {
        grid-template-rows: 2fr 1fr;
      }
      .photo {
        display: grid;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          margin-right: 2em;
          border-radius: 2em;
          border: 4px solid $leadingColor;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
        }
      }
      .item-info {
        grid-row: 2/3;
        grid-column: 1/3;
        font-size: 0.9em;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        header {
          margin-bottom: 1em;
          text-transform: capitalize;
          letter-spacing: 0.1em;
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          border-bottom: 2px dotted $leadingColor;
          .price {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

//       .item-info {
//         font-size: 0.9em;
//         display: flex;
//         height: 100%;
//         flex-direction: column;
//         justify-content: start;
//         header {
//           margin-bottom: 1em;
//           text-transform: capitalize;
//           letter-spacing: 0.2em;
//           display: flex;
//           flex-direction: row;
//           width: 100%;
//           align-content: space-between;
//           justify-content: space-between;
//           border-bottom: 2px dotted $leadingColor;
//         }
//       }
//     }
//   }
// }
// .recipies-modal {
//   display: none;
// }
// .recipies-modal.active {
//   display: flex;
//   flex-direction: column;
//   z-index: 100;
//   position: fixed;
//   top: 0;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   .recipies-modal-content {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 80%;
//     height: 90%;
//     background-color: whitesmoke;
//     border-radius: 5em;
//     border: 0.7em double $leadingColor;
//     .recipe-close-btn {
//       position: absolute;
//       top: 1em;
//       right: 1em;
//       cursor: pointer;
//       z-index: 1000;
//     }
//     header {
//       h2 {
//         margin-top: 1em;
//         font-size: 2em;
//       }
//     }
//     .recipe-modal-info {
//       display: flex;
//       flex-direction: column;
//       width: 100%;
//       align-items: center;
//       justify-content: center;
//       img {
//         width: 20em;
//         align-self: center;
//       }
//       .recipe-instruction {
//         text-align: center;
//         margin-right: 1em;
//         width: 90%;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
// }
