$leadingColor: #1a72ad;
$hoverColor: #51b7ef;
$textColorOnWhite: black;
$textColorOnBlue: white;
$width-mobileS: 320px;
$width-mobileM: 375px;
$width-mobileL: 425px;
$width-tablet: 768px;
$width-laptop: 1024px;
$width-laptopL: 1440px;
$width-4k: 2560px;
